<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <header>
            <div id="headNav"></div>
        </header>
        <div class="container">
        <div id="controls">
            
        </div>
            
                
            
        </div>
        


        <script type="text/javascript" src="/static/jquery/jquery_dev.js"></script>
        <script type="text/javascript" src="/static/bootstrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/static/js/headnav.js"></script>
        <script type="text/javascript" src="/static/js/controlSetup.js"></script>
        <script type="text/javascript" src="/static/js/controls.js"></script>
    </body>
</html>